{% extends 'custom/__about_base.html' %}

{% load static %}

{% block main_content %}
  {{ block.super }}

  <div id="content_wrapper" class="about">

    <h3>Project History</h3>

    <p>The Nebraska Newspaper Project (NNP) was a cooperative project between the <a href="https://libraries.unl.edu/">University Libraries</a> at the <a href="https://www.unl.edu/">University of Nebraska-Lincoln</a> (UNL) and <a href="https://history.nebraska.gov/">History Nebraska</a>. It was funded by the <a href="https://www.neh.gov/">National Endowment for the Humanities</a> and is part of the <a href="https://www.neh.gov/us-newspaper-program">U.S. Newspaper Program</a> (USNP), managed by the <a href="https://www.loc.gov/">Library of Congress</a>.</p>

    <p>The Nebraska Newspaper Project completed a planning grant in 1992-1993. From 1994-1996, UNL Libraries staff cataloged Nebraska newspaper collections at History Nebraska and Czech American newspapers in the UNL Libraries. Once titles were located, holdings were recorded; the newspapers were cataloged following <a href="http://www.loc.gov/acq/conser/">CONSER</a> standards on <a href="https://www.oclc.org/">OCLC</a>, an international online union catalog; and the records were downloaded into the <a href="https://libraries.unl.edu/">UNL Libraries catalog</a>. In 1997, the project developed some additional finding aids for the collection at History Nebraska. From 1998-2000, UNL Libraries and History Nebraska sought newspapers missing from the collections. Many of the papers were taken to Lincoln for microfilming according to international preservation standards.</p>

    <p>Staff for the Nebraska Newspaper Project included:</p>

    <ul>
      <li>Katherine Walter, Project Director, UNL</li>
      <li>Andrea Faling, Associate Director, History Nebraska</li>
      <li>Margaret Mering, Principal Serials Cataloger, UNL</li>
      <li>Mary Woltemath, Microfilm Curator, History Nebraska</li>
      <li>Kathy Bowersox, Serial Cataloger, UNL</li>
      <li>David Harlan, Serials Cataloger, UNL</li>
      <li>Corinne Jacox, Serials Cataloger, UNL</li>
      <li>Beth Jedlicka, Serials Cataloger, UNL</li>
      <li>Charity Stokes, Serials Cataloger, UNL</li>
      <li>Daniel Schwartz, Nebraska Newspaper Project Librarian, UNL</li>
      <li>Evelyn Kirk, Library Assistant, UNL</li>
      <li>Denise Matulka, Library Assistant, UNL</li>
      <li>Mary McKay, Library Assistant, UNL</li>
      <li>Sheila Orth, Library Assistant, UNL</li>
    </ul>

    <h4>Preserving Papers - History Nebraska</h4>

    <p>The Nebraska State Historical Society was founded in 1878 and its first collecting policy was promulgated a year later. Among the items designated as important to the repository’s collections were "files of Nebraska newspapers and magazines, especially complete volumes of past years, or single numbers even." Publishers were encouraged "to contribute their publications eagerly," so that their contributions could be "carefully preserved and bound."</p>

    <p>Complete or partial holdings for about forty newspapers published during the territorial era were provided by J. Sterling Morton. Collected while he served as secretary of Nebraska Territory, the newspapers were transferred to the state historical society when he became president of the organization in 1891.</p>

    <p>Although newspapers were received during the historical society’s early years, it wasn't until Jay Amos Barrett was hired as Assistant Secretary and Librarian, in 1893, that a systematic collection of newspapers was undertaken. Barrett initiated the practice of keeping a record of all newspapers published in the state and worked hard to ensure that publishers sent all newspaper issues to the repository. He persuaded the <em>Nebraska State Journal</em> and the Lincoln Newspaper Union to keep bags in their offices where duplicates of unwanted papers could be set aside for the state’s historical repository. Barrett also solicited back files of contemporary papers and files of discontinued titles. By 1900, the Nebraska State Historical Society had secured appropriations so that binding could take place.</p>

    <p>By the 1930s, the society received almost all of the dailies and three-quarters of the weeklies on an exchange basis. In exchange for newspapers, the organization sent its own publications to each newspaper editor. The editors were considered members of the society and the president of the Nebraska Press Association was a regular voting member of the historical society board. Although the Nebraska Press Association is no longer an ex officio member of the state historical society’s board (this agreement ended in the 1980s), the Press Association continues to encourage its members to send copies of all Nebraska newspapers to the state historical repository.</p>

    <p>The Nebraska State Historical Society purchased its first camera and began the microfilming of Nebraska newspapers in 1952. Prior to that time, newspaper originals had been stored in bundles and were provided in that form to researchers. They were difficult to use and the acidic quality of the paper made it unlikely that they would survive many more years. Director James Olson suggested microfilming as a way to eliminate these difficulties. Developed during the 1930s, the microfilm process was improved during World War II and came into popular use afterwards. The historical society in Nebraska was among the earliest state historical repositories to develop a newspaper microfilming program. The benefits were obvious to curators and the public alike, as microfilming provided a method by which valuable information contained on deteriorating newsprint was preserved, while reducing the storage needed for bulky originals.</p>

    <p>In 2018, the Nebraska State Historical Society announced a name change to History Nebraska. As the only statewide organization dedicated to preserving and sharing the state’s rich history, History Nebraska continues its filming program today, microfilming the approximately 200 titles that it receives from the state's newspaper publishers. The microfilm can be viewed at History Nebraska's headquarters at 1500 'R' Street in Lincoln. Individual reels are also available for purchase or through <a href="https://history.nebraska.gov/collections/interlibrary-loans">interlibrary loan</a>.</p>
  </div>

{% endblock %}
