$white: #ffffff;
$newsprint-tint1: #fafaf7;
$newsprint: #efefea;
$newsprint-shade1: #e6e8df;
$newsprint-shade2: #deded8;
$newsprint-shade3: #c8cac3;
$maroon: #860e00;
$maroon-shade1: #390b00;
$black: #000000;
$gray: #cccccc;
$gray-shade1: #dddddd;
$highlight: #ff0000;

.main_content {
  background-color: $newsprint;
  padding-bottom: 3em;
}

body {background-color: $newsprint-tint1;}

// -------------------
// Header / Title
// -------------------

.site_header {
  background: $newsprint url(../images/full_backdrop.png) no-repeat center -170px;
}

.header {
  padding: 1.2em 0;

  h1.title {
    font-family: 'Oranienbaum', serif;
    font-size: 3em; 
    font-variant: small-caps;
    font-weight: 800;
    margin: 0;
    padding: .2em;
    text-align: center;
  } 
}

a {
  text-decoration: underline;
}

.nav a, .btn a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important; //Spent a while trying to figure this out, using this for now
}

input[type="text"], textarea, select { 
  background-color: $white; 
}

@media (min-width: 768px) {
  .header {
    h1.title {
      font-size: 4em; 
    } 
  }
} // end 753px

@media (min-width: 992px) {
  .header {
    h1.title {
      font-size: 5em; 
      .newspapers {
        padding-left: 1.6em;
      }
    } 
  }

  .site_header {
    background: $newsprint url(../images/full_backdrop.png) no-repeat calc(50% - 2.2em) -170px;
  }
} // end 992px

@media (min-width: 1200px) {
  .header {
    h1.title {
      font-size: 6em; 
    } 
  }
  
  .site_header {
    background: $newsprint url(../images/full_backdrop.png) no-repeat calc(50% - 3em) -170px;
  }
} // end 1200px

// -------------------
// Navigation
// -------------------

.navbar {
  background-color: rgba($white, 0.7);
  border: double $black 3px;
  border-left: none;
  border-right: none;
  font-family: 'Oranienbaum';
  font-size: 1.2em;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.navbar-right {
  font-size: .9em;
}

.navbar-second {
  border: solid 3px $black;
  border-left: none;
  border-right: none;
  border-top: none;
}

/* To center the search */

@media (min-width: 768px) {

  .navbar-second .container {
    text-align: center;
  }

  .navbar-center {
    display: inline-block;
    margin-bottom: -7px;
  }
}

// -------------------
/* Calendar */
// -------------------

.year-calendar {
  font-size: .9em;
  
  .month caption {
    background-color: $maroon;
    margin: 1em 0 0 0;
  }

  h3 {
    background-color: transparent;
    color: $white;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .table {
    background-color: $white;
    margin: 0;
    padding: 0;

    td {
      padding: 4px;
      width: 2.2em;
    }

    .single {
      background-color: $newsprint-shade2;
    }
  }

  .month .multiple {
    background-color: $newsprint-shade3;
  }

  .btn-group a {
    color: $maroon;
    text-decoration: none;
  }
}

.calendar_month {
  background-color: $white;
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: center;
  vertical-align: top;
}

.issues_single, .issues_multiple {
  border: 1px solid $gray-shade1;
  padding: 5px;
}

.issues_single {
  background-color: $newsprint-shade1;
}

.issues_multiple {
  background-color: $newsprint-shade3;
}

// -------------------
// Newspapers - All Titles
// -------------------

.tablesorter tbody tr.odd td {
  background-color: $white;
}

// -------------------
// City
// -------------------

.city_list h3 {
  background-color: $maroon-shade1;
  color: $white;
  font-size: 1.2em;
  padding: 5px;
}

// ?????? 

.title_subnav {
  margin: 10px 0;
}

// -------------------
// Footer
// -------------------

.footer {
  // background-color: $newsprint-tint1;
  border-top: double 3px $black;
  margin-top: 0;
  padding: 20px 0 50px 0;
  width: 100%;

  ul {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
  }

  .foot_logos {
    display: inline;
    float: right;
    width: 20%;

    img {
      display: inline;
      float: right;
      padding: 10px;
    }
  }
}

// -------------------
/* Advanced Search */
// -------------------

.advanced_search_form {
  padding: 0 0 40px 0;

  fieldset {
    margin: 0;
    padding: 10px;
  }
}

// keep from and to on same line
#id_date_from, #id_date_to {
  width: 7em;
}

// -------------------
/* Page View */
// -------------------

#item-ctrl > div {
  font-size: .9em;
}

// wrap preformatted text and make a tad smaller on ocr page
.ocr_text pre {
  font-size: .9em;
  white-space: pre-wrap;       // css-3 
  word-wrap: break-word;       // Internet Explorer 5.5+
}

// Make font slightly smaller so nav fits on one line
#imageViewer_nav {
  font-size: .9em;
}

// -------------------
/* Pages list/Search Results */
// -------------------

.search_results {
  margin: 10px 0 30px 0;

  .row {
    margin-bottom: 10px;
  }

  .search_results img {
    max-width: 100%;
  }

  .search_results .highlite {
    font-size: .9em;
    line-height: 1.1em !important;
  }
  
  .thumbnail {
    font-size: .9em;
  }
}

.search_results_ctrl {
  display: block;
  margin: 10px 0 10px 0;

  .row {
    font-size: .9em;
  }
}

.search_results_ctrl a, span.off {
  background-color: $white;
  border: 1px solid $gray;
  display: inline-block;
  padding: 4px 7px;
}

.pagination {
  margin: 0;
}

a.pag-selected, span.off {
  background-color: $maroon;
  color: $white;
}

.search_results_middle {
  border-left: none;
  border-right: none;
  border: 1px solid $gray-shade1;
  margin: 10px 0 10px 0;
  padding: 5px 0;
}

.search_results_none {
  padding: 50px 0 0 50px;
  text-align: center;
}

.front_pages_nav {
  margin-bottom: 10px;
  margin-top: 10px;
}

// -------------------
/* Home Page Featured Content */
// -------------------

.featured_content {
  margin: 0;
  padding: 0;

  li {
    box-sizing: border-box;
    float: left;
    list-style-type: none;
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    a {
      background-color: $white;
      display: inline-block;
      font-size: .9em;
      line-height: 1.2em;
      margin: 10px 10px 10px 10px;
      max-width: 100%;
      padding: .5em;
      text-decoration: none;

      span {
        display: block;
        padding: .1em .5em;
        text-align: center;
      }
    }

    &:nth-child(2n+1) {
      clear: left;
    }
  }

  img {
    border: solid 1px $black;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}

.featured_title,
.featured_date,
.featured_caption {
  line-height: 1;
  margin: .3em 0 0 0;
  text-align: center;
}

// -------------------
/* Help */
// -------------------

.help_images {
  border: solid 8px $white;
  display: block;
  margin: 10px auto 20px auto;
}

// -------------------
 /*LOC Styles*/ 
 // -------------------

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }
}

.breadcrumb {
  margin: 0 0 5px;
}

#myCarousel {
  margin-top: 10px;
}

ul.newspaper_pages li.span4 {
  height: 450px;
}

@media (min-width: 1200px) {
  ul.newspaper_pages li.span4 {
    height: 575px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  ul.newspaper_pages li.span4 {
    height: 350px;
  }
}

@media (max-width: 767px) {
  ul.newspaper_pages li.span4 {
    height: auto;
  }
}

.highlight_words div {
  border: 1px solid $black;
  margin: -3px 1px 3px -1px;
  padding: 3px 1px 3px 1px;
}
