  {% comment %} called from __base.html {% endcomment %}

{% block footer %}
    <div class="footer">
        <div class="container">
          <ul>
            <li><a href="{% url 'openoni_home' %}">Home</a></li>
            <li><a href="{% url 'openoni_newspapers' %}">Newspapers</a></li>
            <li><a href="{# url 'openoni_places' #}">City</a></li><!-- todo add this back in -->
            <li><a href="{# url 'openoni_calendar' #}">Date</a></li><!-- todo add this back in -->
   
            <li><a href="{# url 'openoni_publishing' #}">Publishing History</a></li><!-- todo add this back in -->
            <li><a href="{% url 'openoni_help' %}">Help</a></li>
            <li><a href="{% url 'openoni_about' %}">About</a></li> 
            
            <li><a href="/search/advanced/">Advanced Search</a></li>
          </ul>
          
          <div class="foot_logos">
            <a href="http://unl.edu" class="unl"><img src="/media/images/unl.png"/></a>
            <a href="http://www.neh.gov/" class="neh"><img src="/media/images/logo_NEH.png"/></a>
            <a href="http://www.nebraskahistory.org/index.shtml" class="nshs"><img src="/media/images/logo_nshs.png"/></a>
          </div>
        </div>
      </div>
{% endblock footer %}



