<h4>The American</h4>

<p><em>The American</em> (1891-99) was a nativist newspaper published in Omaha, Nebraska. It was edited by John C. Thompson, and published on Fridays by the American Publishing Co. at a subscription rate of $2.00. Its circulation was described as "not exceeding 3,000," based on the American Newspaper Directory's circulation ratings.</p>

<p><em>The American</em> was an organ for the American Protective Association, or A.P.A., a secret society noted for being anti-Catholic and, to a lesser extent, anti-immigrant. Established originally in Clinton, Iowa, the American Protection Association often made unsubstantiated claims about the number of votes it controlled. A regular practice was to cite an unfavorable opinion about the A.P.A., and then dismiss it as ridiculous. An example in the November 30, 1894 issue focuses on a short editorial from a Toledo, Ohio newspaper, which described as "absurd" the claim that the A.P.A. had been responsible for President Grover Cleveland's election. The editor of the <em>American</em> refutes this charge at length.</p>

<p></p>
