<h4>Voice</h4> 
<p>The <em>Voice</em> was a weekly African-American newspaper published in Lincoln, Nebraska, from October 11, 1946 through May 14, 1953 at an annual subscription rate of $2.00.  
It was “dedicated to the promotion of the culture, social and spiritual life of a great people.” Melvin L. Shakespeare, a local pastor, was the publisher and owner. 
Two “special writers” were named in the masthead—Rev. Trago T. McWilliams, Sr., and Joseph Casmer. </p>
<p>In the first issue, Rev. McWilliams wrote a moving statement about the <em>Voice</em> and its mission. 
He described the <em>Voice</em> as “a determined, indomitable voice for …a united effort on the part of the Negro [sic] 
citizenry of this great educational and cultural center to raise sights to higher goals.” The goals cited included 
greater employment opportunities, tolerance, and advanced educational goals. Also mentioned were “to denounce 
unscrupulous politicians” and “to champion… the underprivileged.” The paper frequently reported on the 
National Urban League and the NAACP. In accordance with its commitment to education, the <em>Voice</em> sponsored 
fundraisers to provide a scholarship for a high school student to attend a university or a technical school in order to learn a trade.</p>
<p>The <em>Voice</em> was also devoted to community activities in Lincoln, Hastings and other Nebraska towns. Several columns were 
contributed by community members, such as “Social Hints,” and “Churches: Go to the Church of Your Choice—but Go!” 
These columns help offer a snapshot of post-WWII life of African-Americans in Nebraska.</p> 
