<h4>Stjernan</h4>
<p><em>Stjernan</em> or the “Star” was a weekly Danish-American paper published from 1885-1896—briefly in St. Paul, Nebraska, and soon 
thereafter in nearby Dannebrog, Nebraska. The annual subscription was $1.50. At its height, there were 2600 subscribers, 
600 from Dannebrog and 2,000 from other locales. From 1886-1896, the publisher and editor was Peter Ebbesen, who had emigrated 
from Denmark to the U.S. as a child. In a pioneer history of his life, he wrote that when he began as an editor, he could barely 
read or write Danish at all. In time, he noted that he gradually gained enough Danish to “pass” among the Danish community of Dannebrog. 
It is probable that this statement was very modest, based on descriptions of the paper as remarkably well organized, with interesting articles. 
Today’s Danish readers will notice that the type fonts are old Danish with a smattering of Norwegian and Swedish—likely an indication that finding appropriate fonts on the Great Plains was a challenge.</p>
<p>In  a 2003 article about the newspaper, author Karsten Kjer Christensen wrote that the first issue stated “Readers and friends. 
Today we add a paper to the journalistic accumulation among Scandinavians in  America. A beacon that with the cooperation of our 
compatriots we hope will be worthy of its name." After a few issues with church-related columns that were fraught with narrow 
doctrinal arguments, the paper carefully refrained from focusing on theological issues. Instead it reported heavily on farming 
issues and commodities prices. At one point Ebbesen encouraged farmers to submit their own stories about farming, however, this 
did not prosper and the column was dropped. The paper also featured political news from both the U.S. and Denmark. Social news 
included reports of weddings, births and travel—primarily travel to Denmark. As Christensen noted, <em>Stjernan</em> readers saw themselves as “Danes in America” rather than Danish-Americans.</p>
<p>During a serious drought in 1896, a fire destroyed the newspaper office and the paper never recovered. 
Ebbesen moved back to St. Paul, Nebraska, and ran unsuccessfully for political office. Thereafter, he published and edited English-language newspapers in St. Paul.</p> 
