<h4>Danskeren</h4>
<p><em>Danskeren</em> or “The Dane” was published in Neenah, Wisconsin, from 1892-1899 under the editorship of Jens Nielsen Jersild, a pastor of Our Savior Lutheran Church. 
Subscriptions in the U.S. were $1.50-$2.00 per year, while subscriptions delivered to Europe were $3.00 per annum. With <em>Danskeren</em>, Jersild became embroiled in a 
doctrinal battle that led to the division of the Danish Lutheran Church of America. He strongly believed in lay or “folk” participation in church governance. Instead of 
solely devoting the paper to church matters, he often ran secular articles about world news. Despite his strong theological convictions, he presented both sides in the 
debates and ultimately did not endear himself to either side. In 1899, he resigned from both the church and the newspaper, having earlier formed the “Jersild Knitting Company.” 
As time passed, Jersild and his sons became respected members of the Neenah business community. His “Queen Anne” home is now on the National Historic Register.</p> 
<p>In April 1899, the newspaper moved to Blair, Nebraska, which was then the site of Trinity Seminary of the United Danish Evangelical Lutheran Church in America (known as the Blair Synod,) 
a denomination that later became part of the American Lutheran Church. The first editor in Nebraska was Harald Jensen, a pastor originally from Copenhagen who was a student at the seminary. 
As editor, Jensen gradually made the paper into a professional newspaper. The original ornate flag with two women at either side: “Danmark” at the left and “Amerika” on the right, was abandoned 
and a plainer flag adopted with the seminary name prominently posted. There were up to six columns of news and Jensen introduced headlines for articles, many of which covered national and world matters. 
In addition there were illustrations and advertisements. Jensen had a small staff of journalists as well as community or clergical contributors. The latter presented “Open Letters” presumably to other 
clergy about fine points of theological doctrine. Among contributions were “youth’s department” (de unges afdeling) and a “children’s department” (børnenes afdeling), often featuring stories and poetry.</p> 
<p><em>Danskeren</em> finally folded in 1920.</p> 
