{% extends "__l_newspaper.html" %}

                      
{% block page_head %}
<h2>{{ page_title }}</h2>
{% endblock %}

{% block subcontent %}

  {% block page_nav %}

    <ul class="nav nav-pills">
      <li role="presentation">
        <a id="page_nav_title" href="{% url 'openoni_title' title.lccn %}">About {{title.name}}</a>
      </li>
      {% if title.has_issues %}
        <li role="presentation">
          <a id="page_nav_issues" href="{% url 'openoni_issues_title' title.lccn %}">Browse Issues by Date</a>
        </li>
      {% endif %}
    </ul>

    <div class="search_results_ctrl">
      <span class="nav">
        <a href="{% url 'openoni_issue_pages' title.lccn title.first_issue.date_issued title.first_issue.edition %}" class="ar-back">First Issue</a>
        <a href="{% url 'openoni_issue_pages' title.lccn title.last_issue.date_issued title.last_issue.edition %}" shape="rect">Last Issue</a>
        <a href="{% url 'openoni_issues_first_pages' title.lccn %}">All front pages</a>
      </span>
    </div>

  {% endblock page_nav %}

  <div id="std_box">
    {% block extra_nav %}
    {% endblock %}
    
    {% block newspaper_content %}
    {% endblock newspaper_content %}

    <div class="clear"><!-- --></div>
  </div><!-- end id:std_box -->
{% endblock subcontent%}
