{# http://BASE_URI/about/ #}

{% extends "custom/__about_base.html" %}

{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block main_content %}

  {{ block.super }}

  <div id="std_box">
    <h3>Overview and Team</h3>

    <div class="wdn-responsive-embed wdn-aspect16x9">
      <iframe src="https://mediahub.unl.edu/media/10671?format=iframe&autoplay=0" title="Video Player:  Archiving Nebraska’s Newspapers" allowfullscreen></iframe>
    </div>

    <p>From 2007 to the present, the National Digital Newspaper Program: Nebraska has been digitizing historically significant Nebraska newspapers for inclusion on this website and in <em><a href="https://www.loc.gov/chroniclingamerica/">Chronicling America</a></em>, a freely available full-text database at the Library of Congress. The <a href="https://www.neh.gov/grants/preservation/national-digital-newspaper-program">National Digital Newspaper Program</a> (NDNP) is a partnership between the National Endowment for the Humanities (NEH), the Library of Congress, and state projects to provide enhanced access to United States newspapers published between 1789 and 1963.</p>

    <p>The National Endowment for the Humanities has awarded six grants to the University of Nebraska–Lincoln to digitize a total of 600,000 pages of newspapers. Awards were received in 2007, 2009, 2016, 2018, 2022, and 2024.</p>

    <p>Among Nebraska newspapers digitized for NDNP include <em>The Omaha Bee</em>, <em>The Commoner</em>, and <em>Pokrok západu</em>. Titles eligible for inclusion in the NDNP must be historically significant, represent locations throughout the state, and meet specific microfilm quality standards. Through private and state funding, the Nebraska project has expanded to digitize newspapers outside the scope of the NDNP project, such as the Plattsmouth, Nebraska papers, selected Czech American titles, and the <em>Daily Nebraskan</em>, a student newspaper from the University of Nebraska-Lincoln. For a complete list of titles on this site, check out the <a href="https://nebnewspapers.unl.edu/newspapers/">Newspapers</a> page.</p>

    <p>This digitization effort is an outgrowth of the Nebraska Newspaper Project, which was originally funded by the NEH from 1992-2000 and was an affiliate of the <a href="https://www.loc.gov/rr/news/usnp/usnpp.html">U.S. Newspaper Program</a>.</p>

    <h4>Project Team</h4>

    <ul>
      <li>Karin Dalziel, Assistant Director, Digital Strategies, University of Nebraska–Lincoln</li>
      <li>Justine Elliott, Newspaper Associate, Center for Digital Research in the Humanities (CDRH), University of Nebraska-Lincoln</li>
      <li>Chad Koch, Digital Projects Specialist, CDRH, University of Nebraska-Lincoln</li>
      <li>Margaret Mering, Professor Authority and Identity Management, University of Nebraska–Lincoln Libraries</li>
      <li>Greg Tunink, Programmer/Analyst II, CDRH, University of Nebraska–Lincoln</li>
      <li>Laura Weakly, Principal Investigator 2022-present; Metadata Encoding Specialist, CDRH, University of Nebraska–Lincoln</li>
    </ul>

    <h4>Advisory Board</h4>

    <ul>
      <li>Gail Blankenau, genealogist, Discover Family History</li>
      <li>Gabriel Bruguier, Assistant Professor, University of Nebraska-Lincoln</li>
      <li>Dennis DeRossett, Executive Director, Nebraska Press Association</li>
      <li>Eric Ewing, Executive Director, The Great Plains Black History Museum</li>
      <li>Susana Geliga, Co-Director, Genoa Indian School Digital Reconciliation Project; Professor, History and Native American Studies, University of Nebraska-Omaha</li>
      <li>Chris Graves, Assistant Professor of Journalism and Mass Communications, University of Nebraska-Lincoln</li>
      <li>Angel M. Hinzo, Assistant Professor of History and Ethnic Studies, University of Nebraska-Lincoln</li>
      <li>Karen Mier, Director, Plattsmouth Public Library</li>
      <li>Alise Pape, James Madison Fellow; teacher, Gretna High School</li>
      <li>Liahnna Stanley, Assistant Professor, Communication Studies and Ethnic Studies, University of Nebraska-Lincoln</li>
      <li>Andrew Varsanyi, History doctoral student, University of Nebraska-Lincoln</li>
      <li>Leslie Working, historian, Union College</li>
    </ul>

    <h4>Former Project Team Members:</h4>

    <ul>
      <li>Haley Butler, Newspaper Associate, CDRH, University of Nebraska-Lincoln</li>
      <li>Jeff Downey, Newspaper Associate, University of Nebraska–Lincoln</li>
      <li>Jessica Dussault, Programmer/Analyst III, CDRH, University of Nebraska–Lincoln</li>
      <li>Andrea Faling, Head of Reference, History Nebraska</li>
      <li>Sam Herley, History graduate student, University of Nebraska–Lincoln</li>
      <li>Keith Nickum, Programmer / Analyst, University of Nebraska-Lincoln</li>
      <li>Andy Pederson, Project Specialist, CDRH, University of Nebraska-Lincoln</li>
      <li>Erin Pedigo, Journalism and History graduate student, University of Nebraska–Lincoln</li>
      <li>Brian Pytlik Zillig, Professor of Libraries, University of Nebraska–Lincoln</li>
      <li>Breanne Reiss, Newspaper Associate, University of Nebraska–Lincoln</li>
      <li>Brenden Rensink, History graduate student, University of Nebraska–Lincoln</li>
      <li>Whitney Rittscher, Undergraduate Research Assistant, University of Nebraska-Lincoln</li>
      <li>Brent Rogers, History graduate student, University of Nebraska–Lincoln</li>
      <li>Janel Simons, Newspaper Associate, CDRH, University of Nebraska–Lincoln</li>
      <li>Katherine Walter, Professor and Co-Director, CDRH; Chair, Digital Initiatives & Special Collections; Principal Investigator 2007-2020, University of Nebraska–Lincoln</li>
      <li>Mary Woltemath, Microfilm Curator, History Nebraska</li>
    </ul>

    <h4> Former Board Members</h4>

    <ul>
      <li>Alessia Barbici-Wagner, MA, Foreign Languagues and Literature, University of Nebraska-Lincoln</li>
      <li>Allen Beermann, Executive Director, Nebraska Press Association and Nebraska Press Advertising Association</li>
      <li>John Bender, Professor of Journalism, University of Nebraska–Lincoln</li>
      <li>Charlyne Berens, Professor, News-Editorial, University of Nebraska–Lincoln</li>
      <li>Edward Dawson, CDRH affiliate, University of Nebraska-Lincoln</li>
      <li>Mark Ellis, Associate Professor, History, University of Nebraska at Kearney</li>
      <li>Andrea Faling, Head of Reference, History Nebraska</li>
      <li>Priscilla Hayden-Roy, Professor of German and Associate Dean, College of Arts and Sciences, University of Nebraska–Lincoln</li>
      <li>James McKee, Lee Booksellers</li>
      <li>James Potter, editor, Nebraska History</li>
      <li>Mila Saskova-Pierce, Emerita Professor of Czech, University of Nebraska–Lincoln</li>
      <li>Mark Scherer, Associate Professor, History, University of Nebraska at Omaha</li>
      <li>Rasmus Thøgersen, Former Director, Museum of Danish America</li>
      <li>Katherine Walter, Professor and Co-Director, CDRH; Chair, Digital Initiatives & Special Collections; Principal Investigator 2007-2020, University of Nebraska–Lincoln</li>
      <li>John R. Wunder, Professor, History and College of Journalism & Mass Communication, University of Nebraska-Lincoln</li>
    </ul>

  </div>{# end id:std_box #}


{% endblock main_content %}
