<!-- http://BASE_URI/help/ -->

{% extends "__l_main.html" %}

{% load static from staticfiles %}

{% block box-tabs %}
{% endblock %}

{% block main_content %}

<p>Below is a brief walkthrough of the Nebraska Newspapers site. The software used to build the site has been developed by the <a href="https://github.com/open-oni/open-oni/wiki/About-Open-ONI">Open Online Newspaper Initiative (Open ONI)</a>, a community-maintained project forked from <a href="https://github.com/LibraryOfCongress/chronam">chronam</a>, the <a href="https://www.djangoproject.com/">Django</a> application the Library of Congress used to make <a href="https://chroniclingamerica.loc.gov/">Chronicling America</a>.</p>

<hr />

<p>Nebraska Newspapers offers four ways to browse the content: Newspapers, City, Date, and Search. </p>

<h3 id="newspapers">Newspapers</h3>

<p>On the newspapers page, you&#8217;ll find a sortable list of all the newspapers currently in the website. You can sort by clicking at the top of any of the columns. </p>

<img src="{% static "images/help_image_001.png" %}" class="help_images"/>

<p>Some newspapers changed names over time, and in this list, you will see them represented as different papers to reflect their Library of Congress records. For example, the University of Nebraska-Lincoln's newspaper was published under various titles, including <em>The Hesperian</em> and <em>The Nebraskan</em>, before it was renamed the <em>Daily Nebraskan</em> in 1901.</p>

<h3 id="city">City</h3>

<p>The city browse page allows you to explore newspapers via an interactive map, where you can zoom in or out of the map and get a visual sense of the geographic coverage represented in Nebraska Newspapers. There is also a list of cities and the newspapers available for each site below the map. </p>

<img src="{% static "images/help_image_002.png" %}" class="help_images"/>

<h3 id="date">Date</h3>

<p>The date view allows you to choose a year to see all the dates for which an issue appears in Nebraska Newspapers. An underlined date has at least one title available for that day. Dates with an asterisk indicate that multiple newspaper titles are available for those dates. Selecting a specific day allows you to see a list of the titles published on that date, from which you can choose which newspaper you&#8217;d like to view.</p>

<img src="{% static "images/help_image_003.png" %}" class="help_images"/>
<img src="{% static "images/help_image_004.png" %}" class="help_images"/>

<h3 id="search">Search</h3>

<p>You can search on any page using the search form located at the top of the page, and you can limit that search by city. </p>

<img src="{% static "images/help_image_005.png" %}" class="help_images"/>

<p>For more advanced search options, visit the advanced search page. There, you will find the following options. If you leave any of the options blank, the search defaults to all of that option. </p>

<p><strong>Any of the words:</strong> This option does an &#8220;or&#8221; search on a list of words. For instance, &#8220;Inside the city limits&#8221; will search for &#8220;Inside OR the OR city OR limits”</p>

<p><strong>All of the words:</strong> This option will search for all of the words you enter, but not in any particular order. For instance, &#8220;Inside the city limits&#8221; will search for &#8220;Inside AND the AND city AND limits&#8221; and show you all the results for those words anywhere on the page. </p>

<p><strong>With the phrase:</strong> This search will look for an exact phrase, but will ignore letter case. For instance, &#8220;Inside the city limits&#8221; will also show results for &#8220;inside the city limits&#8221; and &#8220;Inside The City Limits.&#8221;</p>

<p><strong>Proximity Search:</strong> This option allows you to search for a list of words and the distance they may be from each other.</p>

<p><strong>Limit By:</strong> Allows you to limit your search by location by selecting a specific city or county from the respective dropdown lists. You can also set search parameters for a specific date range by using the dropdowns. The date range is automatically set to search the entire range of available newspapers, so only set a date range if you want to narrow your search.</p>

<p><strong>Search selected newspaper(s):</strong> You can select one or more papers to search here. To select multiple titles, hold down Control (PC) or Command (Mac) while making your selections. </p>

<img src="{% static "images/help_image_006.png" %}" class="help_images"/>

<p><strong>Additional Filters:</strong> To search by language, choose the language from the dropdown. You can also search by frequency of publication or limit your search to results that appear on the front page only.</p>

<p>Note on language search: The searchable text for the National Digital Newspaper Program is created using Optical Character Recognition (OCR) which is performed by computers. While this technology has come a long way, it is not perfect, and it is particularly bad at foreign languages at this time. For best results, try searching without accented characters (i.e. &#8220;Ozvêna západu&#8221; becomes &#8220;Ozvena zapadu&#8221;).</p>


<p>All searches will take you to a page which highlights your search terms (if there are any) in red. </p>

<a href="#maincontent">Return to Top</a>

{% endblock %}
