<!-- http://BASE_URI/ -->

{% extends "__l_main.html" %}

{% load static from staticfiles %}
{% load humanize %}
{% load image_urls %}
 
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to the {{ project_name }} site</h2>

      <p>Nebraska Newspapers is a collaborative site developed by the University of Nebraska–Lincoln and History Nebraska. It presents many resources relating to the state's papers and the history of Nebraska newspaper publishing, including searchable full-text of selected newspapers published as early as 1854. Editorials cover ethnic, social, political, and economic viewpoints from various regions of the state.</p>
     
      <p>We are indebted to the National Endowment for the Humanities and the Library of Congress for the pioneering work of the United States Newspaper Program and the National Digital Newspaper Program. The national projects have made the state projects possible.</p>

    </div> <!-- /col-md-4 -->
  </div><!-- /row -->
{% endblock content %}
