<!-- http://BASE_URI/ -->

{% extends "__l_main.html" %}

{% load static from staticfiles %}
{% load humanize %}
{% load image_urls %}
 
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to the {{ project_name }} site</h2>

      <p>Nebraska Newspapers is a collaborative site developed by the University of Nebraska–Lincoln and the Nebraska State Historical Society. It presents many resources relating to the State's papers such as searchable full-text of selected newspapers published in the state before 1923 and information about historically significant newspapers. Editorials cover different social, political, and economic viewpoints from various regions of Nebraska.</p>

      <p>In the future, we hope to present content from more communities and to offer Native American and more foreign-language newspapers.</p>

      <p>We are indebted to the National Endowment for the Humanities and the Library of Congress for the pioneering work of the United States Newspaper Program and the National Digital Newspaper Program. The national projects have made the state projects possible.</p>

    </div> <!-- /col-md-4 -->
  </div><!-- /row -->
{% endblock content %}
