<!-- http://BASE_URL/newspapers/ -->

{% extends "newspapers.html" %}
{% load humanize %}
{% load static from staticfiles %}


{% block head_page_title %}
    All Digitized Newspapers
{% endblock head_page_title %}


{% block sub_page_head %}
<h2>All Digitized Newspapers</h2>
{% endblock sub_page_head %}


{% block newspapers_table_intro %}
<div class="results_nav">
    <div class="row">
        <div class="col-md-6 form-inline">
            <label for="filterTitles">Search Titles: </label>
            <span id="filterTitlesHelp" class="help-block">
                Type a partial name to show only those which match below
            </span>
            <input type="text" id="filterTitles" class="form-control"
                aria-describedby="filterTitlesHelp"
                placeholder="Start typing to search..." />
            <button type="reset" id="resetTitles" class="btn btn-primary">
                Reset
            </button>
        </div>
        <div class="col-md-6">
            <p>Titles available: {{ titles.count|intcomma }}</p>
            <p>Pages available: {{ page_count|intcomma }}</p>
            <p>
                To search all U.S. newspapers, go to<br>
                Chronicling America's <a
                href="https://chroniclingamerica.loc.gov/search/titles/">U.S.
                Newspaper Directory, 1690-Present</a>
            </p>
        </div>
    </div>
</div>
{% endblock newspapers_table_intro %}


{% block newspapers_table %}
<table id="newspapers" class="table table-striped table-hover browse_collect tablesorter" cellspacing="0" summary="">
    <thead>
    <tr>
        <th scope="col" class="left_no_border">City</th>
        <th scope="col">Newspaper</th>
        <th scope="col">Browse Issues</th>
        <th scope="col">No. of Issues</th>
        <th scope="col">Earliest Issue</th>
        <th scope="col">Latest Issue</th>
    </tr>
    </thead>
    <tbody>
    {% for title in sorted_titles %}
        <tr>
            <td class="first left_no_border" scope="row">
              {% for place in title.places.all %}
                {{ place.city }}<br/>
              {% endfor %}
            </td>
            <td>
                <a href="{% url 'openoni_title' title.lccn %}">
                  {{title.display_name}}
                </a>
            </td>
            <td>
              <a href="{% url 'openoni_issues_title' title.lccn %}" shape="rect">
                <img src="{% static 'images/calendar_icon.gif' %}" alt="calendar"/>
              </a>
            </td>
            <td>{{title.issues.count}}</td>
            <td>
              <a href="{% url 'openoni_issue_pages' title.lccn title.first 1 %}">
                {{title.first|date:'Y-m-d'}}
              </a>
            </td>
            <td class="last">
              <a href="{% url 'openoni_issue_pages' title.lccn title.last 1 %}">
                {{title.last|date:'Y-m-d'}}
              </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock newspapers_table %}
