<h4>The Independent</h4>

<p>The Northern Farmers’ Alliance was founded in 1879 in response to low crop prices and the anti-monopoly or anti-railroad sentiments of farmers fed up with the railroads, Wall Street speculators, elevators, middlemen, and banks—all of which were perceived to be taking most of a farmer’s profits. The Alliance focused on two major themes: economic cooperation to help the farmer and political action.</p>



<p><em>Provided by: <a href="/awardees/nbu/">University of Nebraska-Lincoln Libraries, Lincoln, NE</a></em></p>